<header>
  <nav class="navbar navbar-full navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">Tam4</a>
    <ul class="nav navbar-nav float-lg-right">
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-plus-circle"></i> Add</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#"><i class="fa fa-home"></i> Personal <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-tasks"></i> Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-user"></i> Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-sign-out"></i> Logout</a>
      </li>
    </ul>
  </nav>
</header>
