<div [hidden]="edit">
  <div class="row">
    <i onClick="window.alert('Action closed !');" class="fa fa-square-o"></i>
    <i onClick="window.alert('Action closed !');" class="fa fa-area-chart"></i>
    <i (click)="setEdit()" class="fa fa-edit"></i>
    <i onClick="window.alert('Action closed !');" class="fa fa-times"></i>&nbsp;
    <a href="javascript:void(0)" (click)="setEdit()" tooltipPlacement="bottom" tooltip="{{ action.description }}">{{ action.title }} <span class="tag tag-pill tag-default">{{ action.todo }}</span></a>
  </div>
  <div class="row">
    <span class="tag tag-danger">Urgent</span>
    <span class="tag tag-default">Project 1</span>
    <div class="float-xs-right">
      <span class="tag tag-pill tag-success">
        {{ action.done }} / {{ action.todo + action.done }}
      </span>
      <span class="tag tag-pill tag-default">{{ displayDate() }}</span>
    </div>
  </div>
</div>
<div [hidden]="!edit">
  <form (ngSubmit)="onSubmit()" #actionForm="ngForm">
    <div class="form-group">
      <label class="sr-only" for="title">Title</label>
      <input type="text" class="form-control" id="title" required [(ngModel)]="action.title" name="title" placeholder="Title">
    </div>
    <div class="form-group row">
      <label class="col-xs-3 col-form-label">Due date</label>
      <div class="col-xs-5">
        <my-date-picker [selDate]="displayDate()" [options]="myDatePickerNormalOptions" (dateChanged)="onDateChanged($event)"></my-date-picker>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-3 col-form-label" for="todo">Todo</label>
      <div class="col-xs-2">
        <input type="number" class="form-control" id="todo" [(ngModel)]="action.todo" name="todo">
      </div>
      <label class="col-xs-3 col-form-label" for="done">Done</label>
      <div class="col-xs-2">
        <input type="number" class="form-control" id="done" [(ngModel)]="action.done" name="done">
      </div>
    </div>
    <div class="form-group">
      <label class="sr-only" for="desc">Description</label>
      <textarea type="text" class="form-control" id="desc" [(ngModel)]="action.description" name="desc" rows="4" placeholder="Description"></textarea>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!actionForm.form.valid">Close</button>
  </form>
</div>
