<div class="row">
  <div class="col-sm-6">
    <h3 class="text-xs-center"> Sprint backlog
      <button type="button" class="btn btn-secondary btn-sm">
        <i onClick="window.alert('Action closed !');" class="fa fa-plus-circle"></i>
      </button>
    </h3>
    <ul class="list-group list-group-sortable-connected">
      <li *ngFor="let action of sprintActions" class="list-group-item">
        <app-personal-action [action]="action"></app-personal-action>
      </li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h3 class="text-xs-center"> Todo today
      <button type="button" class="btn btn-secondary btn-sm">
        <i onClick="window.alert('Action closed !');" class="fa fa-plus-circle"></i>
      </button>
    </h3>
      <div class="panel-body" dnd-sortable-container [dropZones]="['actions-zone']" [sortableData]="todayActions">
        <ul class="list-group">
          <li *ngFor="let todayAction of todayActions; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i">
             <app-personal-action [action]="todayAction"></app-personal-action>
          </li>
        </ul>
    </div>
  </div>
</div>
